
*{
    margin: 0;;
}
@font-face {
    font-family: novafonte;
    src: url(AkayaTelivigala-Regular.ttf);
}
@font-face {
    font-family: novafonte;
    src: url(AkayaTelivigala-Regular.ttf);
}

header{
    width: 100%;
    height: 20vh;
    /*entre display e align serve para ajustar a (nav) no centro
    do site ou em qualquer parte */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(20, 99, 86);
}
nav{
    width: 50%;
    height: 50%;
   /* background-color: rgb(20, 99, 86);*/
    align-items: center;
}
ul{
    display: flex;
    justify-content: center;
    /*padding arrumou as letras no meio*/
    padding: 0;
}
li{ /*tirar as bolinhas padrao na lista*/
    list-style: none;
    /*padding aumentar a area do texto para todos lados*/
    padding: 20px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 
}
a{
    color:black;
    text-decoration: none;
    /*arredondar as bordas border*/
    border-radius: 50px;
 
}
/*para mudar a cor na area clicavel e dar cor quando passar o mouse*/
a:hover{
    background-color: rgb(243, 200, 146);
    color:blue;
}
/*inicio das secoes*/
#banner-se{
    width: 100%;
    height: 50vh;
    background-color: black;
    background-image: url(montanha.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#card-section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 60vh;
   
}
.card{
    width: 20%;
    height: 60%;
    border: 5px solid black;
}
.img-card{
     width: 100%;
     height: 70%;
     background-color: crimson;

}
.text-card{
    width: 100%;
    height: 30%;
   
}
.titulo-card{
    font-family: novafonte;
    font-size: 2.0em;
    text-align: center;
}
.p-card{
    font-family: Caveat-VariableFon;
    font-size: 1.3em;
    text-align: center;

}
.titulo-card{
    font-family: novafonte;
}
.p-card{
    font-family: Caveat-VariableFon;

}

#secao3{
    width: 100%;
    height: 60vh;
    background-color: rgb(206, 127, 195);
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgb(2,0,36);
    background: linear-gradient(329deg, rgba(2,0,36,1) 0%, rgba(9,28,121,0.6054796918767507) 51%, rgba(94,0,255,1) 99%);
}
#text-secao3{
    width: 40%;
    height: 60%;
    margin-left: 10%;
    
}
#img-secao3{
    margin-right: 10%;
}
#text-secao3 > h1{
    font-size: 3em;
    
}
#text-secao3 > h2{
    padding-top: 5%;
    
}
hr{
    border: 2px solid rgb(144, 73, 211);
    

}
